parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\:\:published\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Public/BlogController.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$pivot\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Settings/TeamSettingsController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Settings/TeamSettingsController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Relations\\Pivot\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Settings/TeamSettingsController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Relations\\Pivot\:\:\$role\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Settings/TeamSettingsController.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Carbon\\Carbon\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Resources/SubscriberResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Relations\\Pivot\:\:\$role\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Account.php

		-
			message: '#^Strict comparison using \!\=\= between int and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: app/Models/LoopItem.php
